@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    
    
</head>

<body>
   <!-- <div class="blue-rectangle"></div>  
    <div class="head"></div>
    <div class="logo">       
        <img src="https://i.pinimg.com/564x/a1/ee/3c/a1ee3c1da870638d388c629dd8ef1ba7.jpg" , alt="ảnh đại diện" , width="92px" , height="98px" />     
    </div>
    <div class="ten"> mVolunteer</div>
    <div class="trangchu">Trang chủ</div>
    <div class="gioithieu">Giới thiệu </div>-->
    <div class=" img">
        <img src="https://i.pinimg.com/564x/8d/ff/49/8dff49985d0d8afa53751d9ba8907aed.jpg?fbclid=IwZXh0bgNhZW0CMTAAAR1xPQUaOXKPVdo01yi_A2gELGTZlm_bTu1uoJNGyaDEhB3oAVtYo2zVWN0_aem_AQIIBxbM5LyKtiBEh-qeCxRG7eGY54v262_icU_SS9ccbxhbMX3N3Y-jiPPmxozXapUSs8Y5KaSZqyfFDaXn6tGq" width="674.31px" height="710.91px" />
    </div>
    <div class="Dangnhap"> Đăng nhập </div>
    <div class="TDN"> 
        Tên đăng nhập:
       
    </div>
    <input type="text" class="TDNh" name="TDN">
   
</body>
</html>
<style>
   <!-- .blue-rectangle {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1440px;
        height: 80px;
        background-color: #0358B2;
    }

    .head {
        position: absolute;
        top: 80px;
        left: 0px;
        width: 1440px;
        height: 143px;
        background-color: #A1D5F7;
    }

    .logo {
        position: absolute;
        top: 86px;
        left: 60px;
    }

    .ten {
        position: absolute;
        top: 180px;
        left: 20px;
        font-size: 35px;
        color: #000000;
        font-family: Jockey One,Regular;
    }

    .trangchu {
        position: absolute;
        top: 134px;
        left: 1051px;
        font-size: 30px;
        color: #000000;
        font-weight: normal;
    }

    .gioithieu {
        position: absolute;
        top: 132px;
        left: 1253px;
        font-size: 30px;
        color: #000000;
        font-weight: normal;
    }-->
    .Dangnhap{
        position: absolute;
        top: 281px;
        left: 992px;
        font-size: 48px;
        color: #000000;
        font-family: Baloo,Regular;
    }
    .TDN{
        position: absolute;
        top: 419px;
        left: 744px;
        font-size: 36px;
        color: #000000;
        font-family: Baloo,Regular;       
    }
    .TDNh{
        position: absolute;
        top: 410px;
        left: 1029px;
        width:362px;
        height:65px;
        font-size:30px
        color: #000000;
        font-family: Baloo,Regular;
    }
    .img{
        position: absolute;
        top: 248px;
        left: 22px;
    }
</style>
