
    <div class="blue-rectangle"></div>
    <div class="head"></div>
    <div class="logo">
        <img src="https://i.pinimg.com/564x/a1/ee/3c/a1ee3c1da870638d388c629dd8ef1ba7.jpg" , alt="ảnh đại diện" , width="92px" , height="98px" />
    </div>
    <div class="ten"> mVolunteer</div>
    <div class="trangchu">Trang chủ</div>   
    <div class="gioithieu">Giới thiệu </div>
    <style>
    .blue-rectangle {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1440px;
        height: 80px;
        background-color: #0358B2;
    }

    .head {
        position: absolute;
        top: 80px;
        left: 0px;
        width: 1440px;
        height: 143px;
        background-color: #A1D5F7;
    }
    .logo {
        position: absolute;
        top: 86px;
        left: 60px;
    }

    .ten {
        position: absolute;
        top: 180px;
        left: 20px;
        font-size: 35px;
        color: #000000;
        font-family: Jockey One,Regular;
    }

    .trangchu {
        position: absolute;
        top: 134px;
        left: 1051px;
        font-size: 30px;
        color: #000000;
        font-weight: normal;
    }

    .gioithieu {
        position: absolute;
        top: 132px;
        left: 1253px;
        font-size: 30px;
        color: #000000;
        font-weight: normal;
    }
    </style>
